{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="feauters">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus ab dolor, at minus reprehenderit assumenda maiores quae commodi? Tenetur distinctio, iure soluta placeat quia minus in deleniti omnis reiciendis id.</p>
        <button class = "btn btn-warning">Про нас</button>
        {% for el in values %}
            <p>{{el}}</p>
        {%endfor%}
    </div>
{% endblock %}

